.page-login{
    color: #606060;

    .login{
        margin-top: 45px;
        border:0;

        ion-input{
            border: 1px #dedede solid;
            padding: 0px 8px;
        }
    }
    .actions{
        p{
            margin-top: 20px;
            color: #606060;
            text-decoration: underline;
        }
    }

    .social{
        margin-top: 25px;

        button{
            margin-top: 10px;
        }
    }
    

}
