
<ion-content class="modal-cliente">
  <!-- button close modal -->
   <ion-icon color="close" class="btn-close" clear ion-button name="close" (click)="closeModal()"></ion-icon> 

  <ion-grid class="cliente">
    
    <ion-row>
      <ion-col col-4 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-center>
        <img src="{{cliente.avatar}}" alt="">
      </ion-col>

      <ion-col col-8 col-sm-6 col-md-6 col-lg-6 col-xl-6>
        <h3>{{cliente.nombre}}</h3>
        <div class="info">
          <p>Telefono: {{cliente.telefono}}</p>
          <p>{{cliente.direccion}}</p>
          <ng-container *ngIf="cliente.open || ever">
            <p>Horario: {{ cliente?.open }} - {{ cliente?.close }}</p>
            <div class="horario">
              <p *ngIf="abierto && !ever" class="open-site">Abierto</p>
              <p *ngIf="!abierto && !ever" class="close-site">Cerrado</p>
              <p *ngIf="ever" class="open-site">Siempre abierto</p>
            </div>
          </ng-container>
          <p class="star">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </p>
          <!-- <p>ABIERTO</p> -->
          <a *ngIf="abierto || ever" href="tel:+57{{cliente.telefono}}" ion-button icon-left color="verde" small outline>
            <ion-icon name="call"></ion-icon>
            Llamar
          </a>
        </div>
      </ion-col>

    </ion-row>

  </ion-grid>
  

  <div class="first-menu" *ngIf="siteMenu.length > 0">
    <ion-segment (ionChange)="onChangeMenu($event.value)" [(ngModel)]="menuList">
      <ng-container *ngFor="let option of siteMenu">
        <ion-segment-button [value]="option.name">
          {{ option.title }}
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </div>

  <div [ngSwitch]="menuList">
    <ng-container *ngIf="itemSelected !== 'comentarios'">
      <ion-list *ngSwitchCase="itemSelected">

        <ng-container *ngIf="productos && productos.length > 0">
          <ion-item *ngFor="let producto of productos">
            <ion-thumbnail item-start>
              <img src="{{ producto.image }}">
            </ion-thumbnail>
            <h2 color="gris">{{ producto.nombre }}</h2>
            <p class="description">{{ producto.descripcion }}</p>
            <p>${{ producto.precio }}</p>
            <button *ngIf="abierto || ever" ion-button (click)="prepareOrder(producto)" outline>Agregar al pedido</button>
            <button class="close-btn" *ngIf="!abierto" ion-button outline>No hay servicio</button>
          </ion-item>
        </ng-container>

        <ng-container *ngIf="!productos || !productos.length && itemSelected !== 'comentarios'">
          <ion-item>
            <p>No hay productos</p>
          </ion-item>
        </ng-container>
        

      </ion-list>
    </ng-container>

  <ion-list *ngSwitchCase="'comentarios'">
    <div padding class="comment">
       <ion-textarea [(ngModel)]="comentario" rows="4" placeholder="Ingresa tus comentarios"></ion-textarea>
       <button (click)="addComment()" color="primary" ion-button block>Comentar</button>
    </div>
    <ion-item *ngFor="let comment of comentarios">
      <ion-avatar item-start>
        <!-- <img src="assets/images/elkin.jpg"> -->
        <ion-icon class="icon-user" name="contact"></ion-icon>
      </ion-avatar>
      <h2>{{ comment.usuario }}</h2>
      <p class="description">{{ comment.comentario }}</p>
      <ion-note item-end>{{ comment.hora }}</ion-note>
    </ion-item>
    
  </ion-list>

</div>
</ion-content>




<ion-footer>
  <div class="footer-cliente" (click)="openPageCarrito()">
    <ion-icon tabBadge="14" tabBadgeStyle="danger" color="negro" name="ios-basket"></ion-icon>
    <span>{{ numProductos }}</span>
  </div>
</ion-footer>
