
.modal-cliente{
    .thumbnail{
        width: 120px;
        height: auto;
    }
    .scroll-content{
        margin-bottom:30px !important;
    }

    .description{
      white-space: pre-line;
    }
    
    .btn-close{
        padding: 0;
        margin: 0;
        font-size: 2.5em;
        position: absolute;
        right: 8px;
        top: 16px;
        z-index: 10;
    }

    hr{
        padding: 0;
        margin: 0;
    }
    .icon-user{
        font-size: 3em;
        color: #2ecc71;
    }
    .cliente {
        background-color: #ecf0f1;
        padding-top: 22px;
        padding-bottom: 10px;
        .star{
            // margin-top: 2px;
            ion-icon{
                color:#f1c40f;
                font-size: 26px;
            }
        }
        img{
            width: 120px; 
        }
        h3{
            color: #212121;
            font-size: 16px;
        }
        h3,p{
            padding: 0;
            margin: 0;
            color:#757575;        
        }
        button{
            // padding:0;
            margin-top:4px;
        }
    }

    .comment{
        margin-bottom: 12px;

        ion-textarea{
            box-shadow: 3px 3px 1px #bdc3c7;
            border: 1px #bdc3c7 solid;
            margin-bottom: 18px;   
            color: #757575;
        }
        .text-input-ios{
            margin: 2px 8px 11px 2px;
        }
        
    }


    ion-note{
        font-size: 14px;
    }

    #mapa{
      width: 400px;
      height: 400px;
      opacity: 0;
      transition: opacity 150ms ease-in;
      display: block;
      &.show-map{
        opacity: 1;
      }
    }

    .service{
        color:#bdc3c7;
        font-size:24px;
    }
    .first-menu{
        background-color:white;
    }

}
ion-thumbnail img{
    width: 115px !important;
    height: auto !important;
}

.footer-cliente{
    text-align: center;
    height: 43px;
    ion-icon{
        // font-size: 5.5em;
        font-size: 4em;
    }
    // background-color:#ecf0f1;
    span{
        background-color: #f53d3d;
        top: 8%;
        right: calc(61% - 46px);
        padding: 2px 6px;
        position: absolute;
        height: auto;
        font-size: 14px;
        color: #fff;
        border-radius: 15px;
    }
}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
    background-image:none;
}
ion-label{
    white-space: inherit;
}