<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5937485844-m2qslfla0efsel262iggacbe04kdrc25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5937485844-m2qslfla0efsel262iggacbe04kdrc25</string>
	<key>API_KEY</key>
	<string>AIzaSyBpw1A2motQWuzLQVrpJoupt8tsPhIUsX8</string>
	<key>GCM_SENDER_ID</key>
	<string>5937485844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.elkinurango.pideexpress</string>
	<key>PROJECT_ID</key>
	<string>merca-bf260</string>
	<key>STORAGE_BUCKET</key>
	<string>merca-bf260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5937485844:ios:2365f13050b300e1a12f01</string>
	<key>DATABASE_URL</key>
	<string>https://merca-bf260.firebaseio.com</string>
</dict>
</plist>