page-status {
    .content-status{
        background-color: #71BC51;
    }
    .status{
        width: 100%;
        height: 80%;
        text-align: center;
        display: grid;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    ion-icon{
        font-size: 8em;
    }
}
