.modal-page-comida{
    .scroll-content{
        margin-bottom:30px !important;
    }
    
    .btn-close{
        padding: 0;
        margin: 0;
        font-size: 2.5em;
        position: absolute;
        right: 8px;
        top: 16px;
        z-index: 10;
    }
    hr{
        padding: 0;
        margin: 0;
    }
    .icon-user{
        font-size: 3em;
        color: #2ecc71;
    }
}
