.page-perfil{
	.item-md{
		// padding-left: 0;
	}
	.perfil{
		text-align: center;
		img{
			border-radius: 50%;
			width: 120px;
			height: 120px;
			border:2px solid #fff;
		}
		h3{
			color: #fff;
			font-size: 18px;
			// text-transform: uppercase;
		}
	}
	.form{
		padding:16px;
		h2{
			// text-align: center;
			color: #999;
			font-size: 18px;
		}
	}
	
}
