<ion-header>
	<ion-navbar class="header">
		<img class="logo" src="../../assets/logo-rapdexpress.png" alt="">
		<ion-buttons end>
			<button ion-button (click)="openModalLogin()">
				<ion-icon name="happy"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<!-- page favoritos -->
<ion-content padding class="page-perfil">

<!-- 	<ion-item color="primary" class="perfil">
		<img src="assets/images/elkin.jpg" alt="">
		<h3>Elkin Urango</h3>
	</ion-item> -->

	<!-- <ion-list class="form"> -->
	  <h2>Historial de pedidos</h2>

	  <div class="pedido-container" *ngIf="pedidos && pedidos.length > 0">

				<div class="detalle-pedido" *ngFor="let pedido of pedidos">
					<h3>{{ pedido?.name }}
					</h3>
					<hr>
					<p>Direccion: <span>{{ pedido?.direccion }}</span></p>
					<p>Teléfono: <span>{{ pedido?.telefono }}</span></p>
					<!-- <p>Fecha: <span>{{ pedido?.created }}</span></p> -->
					<p class="total">Total: <span>${{ pedido?.total }}</span></p>
				</div>
		
			</div>

	  <!-- <ion-item>
	    <ion-label floating>Correo</ion-label>
	    <ion-input type="text"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Contraseña</ion-label>
	    <ion-input type="password"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Teléfono</ion-label>
	    <ion-input type="text"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Dirección</ion-label>
	    <ion-input type="text"></ion-input>
	  </ion-item> -->

	<!-- </ion-list> -->

	<!-- <button class="btn-pagar" ion-button full>Actualizar datos</button> -->
  
</ion-content>
