<ion-header>
	<ion-navbar class="header">
		<img class="logo" src="assets/logo-rapdexpress.png" alt="">
		<ion-buttons end>
			<button ion-button (click)="openModalLogin()">
				<ion-icon name="happy"></ion-icon>
			</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<!-- page favoritos -->
<ion-content padding class="page-perfil">

	  <h2>Historial de pedidos</h2>

	  <div class="pedido-container" *ngIf="pedidos && pedidos.length > 0">

				<div class="detalle-pedido" *ngFor="let pedido of pedidos">
					<h3>{{ pedido?.name }}
					</h3>
					<hr>
					<p>Direccion: <span>{{ pedido?.direccion }}</span></p>
					<p>Teléfono: <span>{{ pedido?.telefono }}</span></p>
					<!-- <p>Fecha: <span>{{ pedido?.created }}</span></p> -->
					<p class="total">Total: <span>${{ pedido?.total }}</span></p>
				</div>
		
			</div>

	 </ion-content>
