<!--  page home -->
<ion-header>
    <ion-navbar color="hedaer">
        <h2 class="title">PideYa! - Encuentra lo que quieres</h2>
        <ion-buttons end>
            <button ion-button (click)="openModalLogin()">
                <ion-icon name="happy"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="page-home">

    <ion-segment (ionChange)="onChangeMenu()" [(ngModel)]="action">
        <ion-segment-button value="5a725e677a2b4a070e3a209d">
            Comida
        </ion-segment-button>
        <ion-segment-button value="5a725d0e7a2b4a070e3a209c">
            Productos
        </ion-segment-button>
        <ion-segment-button value="5a725ea67a2b4a070e3a209e">
            Eventos
        </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="action">

        <ion-list *ngSwitchCase="'5a725d0e7a2b4a070e3a209c'">
            <ion-item *ngIf="clientes.length < 1">No hay productos disponibles</ion-item>
            <div class="cafe" *ngFor="let cliente of clientes;" (click)="openModalSite(cliente)">

                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="{{cliente.avatar}}">
                    </ion-thumbnail>
                    <h2>{{cliente.nombre}} <span class="price"> <ion-icon name="bicycle"></ion-icon> ${{cliente.domicilio}}</span></h2>
                    <p>{{cliente.descripcion}}</p>
                    <!-- <button ion-button clear item-end>$5k</button> -->
                    <p class="star">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </p>
                    <p>
                        <ion-icon name="chatboxes"></ion-icon> 120
                        <span class="time"><ion-icon name="alarm"></ion-icon> {{cliente.tiempoEntrega}} min</span>
                    </p>

                </ion-item>
                <ion-row>


                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="bicycle"></ion-icon>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="cart"></ion-icon>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="cash"></ion-icon>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="pin"></ion-icon>
                        </ion-item>
                    </ion-col>

                </ion-row>

            </div>

        </ion-list>




        <!-- RESTAURANTES -->
        <ion-list *ngSwitchCase="'5a725e677a2b4a070e3a209d'">

            <div class="cafe restaurantes" *ngFor="let cliente of clientes;" (click)="openModalSite(cliente)">

                <ion-item>
                    <ion-thumbnail item-start>
                        <img src="{{ cliente.avatar }}">
                    </ion-thumbnail>
                    <h2>{{ cliente.nombre }} <span class="price"> <ion-icon name="bicycle"></ion-icon> ${{cliente.precio }}</span></h2>
                    <p>{{ cliente.descripcion }}</p>
                    <!-- <button ion-button clear item-end>$5k</button> -->
                    <p class="star">
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                        <ion-icon name="star"></ion-icon>
                    </p>
                    <p>
                        <ion-icon name="chatboxes"></ion-icon> 30
                        <span class="time"><ion-icon name="alarm"></ion-icon> {{cliente.tiempoEntrega}} min</span>
                    </p>

                </ion-item>
                <ion-row>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="bicycle"></ion-icon>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="restaurant"></ion-icon>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="cash"></ion-icon>
                        </ion-item>
                    </ion-col>

                    <ion-col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3>
                        <ion-item>
                            <ion-icon name="pin"></ion-icon>
                        </ion-item>
                    </ion-col>

                </ion-row>
            </div>

        </ion-list>
        <!-- FIN RESTAURANTES -->


        <!-- EVENTOS -->
        <div class="eventos" *ngSwitchCase="'5a725ea67a2b4a070e3a209e'">
            <ion-list *ngFor="let evento of eventos">

                <ion-list-header>{{ evento.fecha }}</ion-list-header>

                <ion-item>
                    <ion-avatar item-start>
                        <img src="{{ evento.image }}">
                    </ion-avatar>
                    <h2>{{ evento.nombre }}</h2>
                    <p>{{ evento.descripcion }}</p>
                    <p>{{ evento.lugar }}</p>
                    <ion-note item-end>{{ evento.hora }}</ion-note>
                </ion-item>

            </ion-list>

        </div>
        <!-- FIN EVENTOS -->

    </div>
</ion-content>