.page-carrito {
	.item-md.item-block .item-inner{
		/* border:none !important; */
	}
	ion-note{
		color:#666;
	}
	.total{
		font-weight:bold;
	}

	.productos{
		h2{
			color:#666;
			font-size:1.5rem;
		}
		.time{
            float:right;
            font-size:12px;
        }
        .price{
	        font-size: 13px;
	        color: #999999;
	        margin-top: 3px;
	    }
	    ion-icon{
	    	color:#666;
	    }
	}
	ion-thumbnail{
		width: 80px;
		height: auto;
	}
}

.btn-pagar{
	background-color:#6bb34d;
	color:#fff;
	padding:28px;
	margin:0;
	margin-top: 50px;
}