<ion-header>
  <ion-navbar class="header">
    <img class="logo" src="assets/logo-white.png" alt="logo" />
    <ion-buttons end>
      <button ion-button (click)="openModalLogin()">
        <ion-icon name="happy"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="page-carrito">
  <ion-item>
    <ion-note item-start>Sub Total</ion-note>
    <ion-note item-end>${{ subtotal }}</ion-note>
  </ion-item>

  <ion-item>
    <ion-note item-start>Domicilio</ion-note>
    <ion-note *ngIf="subtotal > 0" item-end>${{ domicilio }}</ion-note>
    <ion-note *ngIf="subtotal === 0" item-end>$0</ion-note>
  </ion-item>

  <ion-item>
    <ion-note class="total" item-start>Total a Pagar</ion-note>
    <ion-note class="total" item-end>${{ total }}</ion-note>
  </ion-item>

  <div class="productos">
    <!-- <hr> -->
    <h2 padding>Productos en el pedido</h2>
    <ion-item *ngFor="let producto of carrito; let i = index">
      <ion-thumbnail item-start>
        <img src="{{ producto.image }}" />
      </ion-thumbnail>
      <h2>{{ producto.nombre }}</h2>
      <p>{{ producto.categoria.nombre }}</p>
      <ion-icon (click)="deleteProducto(producto._id)" item-end name="trash"></ion-icon>
      <p class="price">${{ producto.precio }}</p>
      <button (click)="restar(producto, i)" ion-button color="light" round>-</button>
      <button ion-button color="light">{{ producto.cantidad }}</button>
      <button (click)="sumar(producto, i)" ion-button color="light" round>+</button>
    </ion-item>
  </div>

  <button
    [disabled]="subtotal === 0"
    (click)="openModalCarrito()"
    class="btn-pagar"
    ion-button
    full
  >
    Confirmar pedido por ${{ total }}
  </button>
</ion-content>
